.header{
    display: flex;
    align-items: center;
    width: 1230px;
    height: 52px; 
    margin-bottom: 10px;
    
    
}
.headerLogo {
    display: flex;
    width: 160px;
    height: 30px;
    margin-left: 20px;
}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:450px;
    height: 30px;
    margin-left: 50px;
    
}